.read-more-container {
  max-width: 100%;
  width: 900px;
  margin: 0 auto;
  padding: 50px 30px;
  background-color: #f9f7f2; 
  border-radius: 15px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-family: 'Arial', sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #4CAF50;
  line-height: 1.3;
}

p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
  margin-bottom: 25px;
}

.read-more-content {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.read-more-button,
.main-page-button {
  display: block;
  width: 180px;
  padding: 12px 20px;
  margin: 15px auto;
  background-color: #16901c; 
  
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.read-more-button:hover,
.main-page-button:hover {
  background-color: #60c065; 
}

.main-page-button {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .read-more-container {
      padding: 30px 20px;
  }

  h2 {
      font-size: 2rem;
  }

  p {
      font-size: 1.1rem;
  }

  .read-more-button,
  .main-page-button {
      width: 100%;
      font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  h2 {
      font-size: 1.7rem;
  }

  p {
      font-size: 1rem;
  }
}
